/*---General  Questions
  -Margin around whole webside
  -Wie kann ich Bildproportionen verändern, ohne es zu verzerren?
  -Bei responsive design zwischen den media queries für ein paar pixel auf grundlayout?

*{
  border: 1px solid rgba(0, 0, 0, 0.3);
}

---*/
/*Global*/
*{
  box-sizing: border-box;
}

*html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*body{
  font-family:"Josefin Sans", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}

header ul{
  margin:0;
  padding:0;
}





/*Cover*/
#cover{
  height: 600px;
  width:100%;
  background: url("../images/Header.jpg") no-repeat;
  background-size: 100%;
  text-align:center;
  color: #ffffff;
}

#cover h1{
  margin-bottom:10px;
  margin-top:300px;
  font-size: 25px;
}

#cover p{
  font-size: 20px;
  width: 500px;
  margin:auto;
  display: inline;
}

#cover a{
  width: 140px;
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding:5px;
  display: block;
  margin: auto;
}





/*Header*/
header{
  background:#ffffff;
  color: #cccccc;
  padding-top:50px;
  border-bottom:#cccccc 1px solid;
}

header a{
  color:#cccccc;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:right;
}

header #branding h1{
  margin:0;
  padding:0 20px 0 20px;
  color: #999999
}

header nav{
  float:left;
  margin-top: 10px;
}

header .current a{
  font-weight:bold;
  color:#999999;
}





/*topic-preview*/
#topic-preview{
  margin:20px 0 20px 0;
  background-color: #cccccc;
  text-align: left;
}

.topic{
  float: right;
  background-color:#cccccc;
  width: 50%;
}

#topic-preview p {
  display: inline;
  max-width: 50%;
  max-height: auto;
  float: right;
  text-align: left;
  padding: 0px 150px 0px 150px;
  margin-top: 2px;
}

#topic-preview h1 {
  display: inline-block;
  max-width: 50%;
  max-height: auto;
  text-align: center;
  padding: 150px 10px 0 150px;
  margin:0 auto;
}


.photo{
  float: left;
  background-color: #ffffff;
  display: inline;
  margin: 0 auto;
  width: 50%;
}

.photo img{
  display:inline;
  float:left;
  margin: 0px auto;
  max-width: 100%;
  max-height: auto;
}





/*work-preview*/
#work-preview{
  margin:15px 0 150px 0;
}

#work-preview p{
  margin-top: 0px;
}

#work-preview h3{
  margin-bottom: 0;
  margin-top: 5px;
}

.box{
  float: left;
  color: #999;
  text-align: center;
  display: inline;
  margin:auto;
  width: 33%;
}

.box img{
  display:block;
  margin: 0px auto;
  max-width:100%;
  max-height:auto;
  padding-left: 10px;
  padding-right: 10px;
}



/*-----------------------------------contact----------------------------------*/

#topic-preview-contact{
  margin:20px 0 20px 0;
  background-color: #cccccc;
  text-align: left;
}

.box_contact{
  float: right;
  display: inline;
  color: #000;
  text-align: center;
  width: 16.3%;
  max-height: auto;
  margin-top: 180px;
}


#topic-preview-contact p{
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

#topic-preview-contact h3{
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}


.box_contact img{
  display:block;
  margin: 0px auto;
  max-width:100px;
  max-height:50px;
}

.photo_contact{
  float: left;
  background-color: #ffffff;
  display: inline;
  margin: 0 auto;
  width: 50%;
}

.photo_contact img{
  display:inline;
  float: left;
  margin: 0 auto;
  max-width: 100%;
  max-height:auto;
}


/*-----------------------footer-----------------------------------------------*/
footer{
  padding:20px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #cccccc;
  text-align: center;
}




/*----------------responsivness--------------------------------------------*/
@media screen and (max-width: 710px){
  header{
    background:#ffffff;
    color: #cccccc;
    padding-top:30px;
    border-bottom:#cccccc 1px solid;
  }

  header #branding{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  header #branding h1{
    margin: 0 auto;
    padding:0 20px 0px 20px;
    color: #999999
  }

  header a{
    color:#cccccc;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
  }

  header li{
    display:inline-block;
    padding:0 20px 0 20px;
    width: 33%;

  }

  header nav{
    float:left;
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  header .current a{
    font-weight:bold;
    color:#999999;
  }

  /*topic-preview*/
  #topic-preview{
    background-color: #ffffff;
  }

  .topic{
    width: 100%;
    margin: 0 auto;
  }

  #topic-preview h1{
    display: inline-block;
    text-align: left;
    padding: 20px 10px 0 10px;
  }

  #topic-preview p {
    max-width: 100%;
    max-height: auto;
    float: right;
    text-align: left;
    padding: 0 10px 0 10px;
    margin-top: 5px;
  }


  .photo{
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    display: block;
  }

  .photo img{
    margin: 0px auto;
    max-width:cover;
    max-height: auto;
  }





  /*work-preview*/
  #work-preview{
    margin:15px 0 80px 0;
  }

  #work-preview p{
    margin-top: 0;
    padding: 0 30px 0 30px;
  }

  #work-preview h3{
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0 30px 0 30px;
  }

  .box{
    float: left;
    color: #999;
    text-align: left;
    display: inline;
    margin:auto;
    width: 100%;
  }

  .box img{
    display:block;
    margin: 7px auto 0 auto;
    max-width:100%;
    max-height:auto;
    padding:0 30px 0 30px;
  }



  /*-----------------------------------contact----------------------------------*/

  #topic-preview-contact{
    margin:20px 0 20px 0;
    background-color: #ffffff;
    text-align: left;
  }

  .box_contact{
    float: right;
    display: inline;
    color: #000;
    text-align: center;
    width: 100%;
    max-height: auto;
    margin-top: 10px;
  }


  #topic-preview-contact p{
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #topic-preview-contact h3{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .photo_contact{
    display: none;
  }

  .box_contact img{
    display:block;
    margin: 0px auto;
    max-width:100px;
    max-height:50px;

  }
}

@media screen and (min-width: 690px) and (max-width: 900px){


  #topic-preview p {
    display: inline;
    max-width: 50%;
    max-height: auto;
    float: right;
    text-align: left;
    padding: 0px 25px 0px 25px;
    margin-top: 2px;
  }

  #topic-preview h1 {
    display: inline-block;
    max-width: 50%;
    max-height: auto;
    text-align: center;
    padding: 45px 25px 0 25px;
    margin:0 auto;
  }


  .photo{
    float: left;
    background-color: #ffffff;
    display: inline;
    margin: 0 auto;
    width: 50%;
  }

  .photo img{
    display:inline;
    float:left;
    margin: 0px auto;
    max-width: 100%;
    max-height: auto;
  }





  /*work-preview*/
  #work-preview{
    margin:15px 0 100px 0;
  }

  #work-preview p{
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }

  #work-preview h3{
    margin-bottom: 0;
    margin-top: 5px;
  }

  .box{
    float: left;
    color: #999;
    text-align: center;
    display: inline;
    margin:auto;
    width: 33%;
  }

  .box img{
    display:block;
    margin: 0px auto;
    max-width:100%;
    max-height:auto;
    padding-left: 10px;
    padding-right: 10px;
  }



  /*-----------------------------------contact----------------------------------*/


  .box_contact{
    float: right;
    display: inline;
    color: #000;
    text-align: center;
    width: 16.3%;
    max-height: auto;
    margin-top: 45px;
  }


  #topic-preview-contact p{
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #topic-preview-contact h3{
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .photo_contact{
    float: left;
    background-color: #ffffff;
    display: inline;
    margin: 0 auto;
    width: 50%;
  }

  .photo_contact img{
    display:inline;
    float: left;
    margin: 0 auto;
    max-width: 100%;
    max-height:auto;
  }

}

@media screen and (min-width: 890px) and (max-width: 1150px){



  #topic-preview p {
    display: inline;
    max-width: 50%;
    max-height: auto;
    float: right;
    text-align: left;
    padding: 0px 65px 0px 65px;
    margin-top: 2px;
  }

  #topic-preview h1 {
    display: inline-block;
    max-width: 50%;
    max-height: auto;
    text-align: center;
    padding: 80px 65px 0 65px;
    margin:0 auto;
  }


  .photo{
    float: left;
    background-color: #ffffff;
    display: inline;
    margin: 0 auto;
    width: 50%;
  }

  .photo img{
    display:inline;
    float:left;
    margin: 0px auto;
    max-width: 100%;
    max-height: auto;
  }





  /*work-preview*/
  #work-preview{
    margin:15px 0 100px 0;
  }

  #work-preview p{
    margin-top: 0px;
    padding: 0 20px 0 20px;
  }

  #work-preview h3{
    margin-bottom: 0;
    margin-top: 5px;
  }

  .box{
    float: left;
    color: #999;
    text-align: center;
    display: inline;
    margin:auto;
    width: 33%;
  }

  .box img{
    display:block;
    margin: 0px auto;
    max-width:100%;
    max-height:auto;
    padding-left: 10px;
    padding-right: 10px;
  }



  /*-----------------------------------contact----------------------------------*/


  .box_contact{
    float: right;
    display: inline;
    color: #000;
    text-align: center;
    width: 16.3%;
    max-height: auto;
    margin-top: 80px;
  }


  #topic-preview-contact p{
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }

  #topic-preview-contact h3{
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .photo_contact{
    float: left;
    background-color: #ffffff;
    display: inline;
    margin: 0 auto;
    width: 50%;
  }

  .photo_contact img{
    display:inline;
    float: left;
    margin: 0 auto;
    max-width: 100%;
    max-height:auto;
  }

}
