/*---General  Questions
  -Margin around whole webside
  -Wie kann ich Bildproportionen verändern, ohne es zu verzerren?


*{
  border: 1px solid rgba(0, 0, 0, 0.3);
}
---*/

*{
  box-sizing: border-box;
}

*html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*body{
  font-family:"Josefin Sans", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}





/*Global*/

.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}

header ul{
  margin:0;
  padding:0;
}





/*Cover*/
#cover{
  height: 600px;
  width:100%;
  background: url("../images/Header.jpg") no-repeat;
  background-size: 100%;
  text-align:center;
  color: #ffffff;
}

#cover h1{
  margin-bottom:10px;
  margin-top:300px;
  font-size: 25px;
}

#cover p{
  font-size: 20px;
  width: 500px;
  margin:auto;
  display: inline;
}

#cover a{
  width: 140px;
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding:5px;
  display: block;
  margin: auto;
}





/*Header*/
header{
  background:#ffffff;
  color: #cccccc;
  padding-top:50px;
  border-bottom:#cccccc 1px solid;
}

header a{
  color:#cccccc;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:right;
}

header #branding h1{
  margin:0;
  padding:0 20px 0 20px;
  color: #999999
}


header nav{
  float:left;
  margin-top: 10px;
}


header .current a{
  font-weight:bold;
  color:#999999;
}






/*topic-preview*/
#topic-preview{
  margin:20px 0 20px 0;
  background-color: #cccccc;
  text-align: center;
}

.topic{
  float: right;
  background-color:#cccccc;
  width: 50%;
}

#topic-preview p {
  display: inline;
  max-width: 50%;
  max-height: auto;
  float: right;
  text-align: center;
  padding: 0px 150px 100px 150px;
}

#topic-preview h1 {
  display: inline-block;
  max-width: 50%;
  max-height: auto;
  text-align: center;
  padding: 150px 10px 0 10px;
  margin:0 auto;
}


.photo{
  float: left;
  background-color: #ffffff;
  display: inline;
  margin: 0 auto;
  width: 50%;
}

.photo img{
  display:inline;
  float:left;
  margin: 0px auto;
  max-width: 100%;
  max-height: auto;
}





/*work-preview*/
#work-preview{
  margin:15px 0 150px 0;
}

#work-preview p{
  margin-top: 0px;
}

#work-preview h3{
  margin-bottom: 0;
  margin-top: 5px;
}

.box{
  float: left;
  color: #999;
  text-align: center;
  display: inline;
  margin:auto;
  width: 33%;
}

/*--- wie kann ich Bildproportionen verändern, ohne es zu verzerren?--*/
.box img{
  display:block;
  margin: 0px auto;
  max-width:430px;
  max-height:270px;
}



/*---box_contact--*/

#topic-preview-about{
  margin:20px 0 20px 0;
  background-color: #cccccc;
  text-align: center;
}

#topic-preview-about h1 {
  display: inline-block;
  max-width: 50%;
  max-height: auto;
  text-align: center;
  padding: 130px 10px 30px 10px;
  margin:0 auto;
}

.box_contact{
  float: right;
  display: inline;
  color: #999;
  text-align: center;
  width: 16.3%;
  max-height: auto;
}

#topic-preview-about h3{
  margin-bottom: 0px;
}

#topic-preview-about p{
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}



/*--- wie kann ich Bildproportionen verändern, ohne es zu verzerren?--*/
.box_contact img{
  display:block;
  margin: 0px auto;
  max-width:100px;
  max-height:50px;

}



/*footer*/
footer{
  padding:20px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #cccccc;
  text-align: center;

}
/*
@media screen{


  #work-preview .box{
    text-align: center;
    width:30%;
    padding: 10px;
  }

}
